<!--
    Autor: Axel Álvarez Santos
    Fecha: 15/02/2024
    Tarea: AD05 Tarea Evaluativa 01
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>

  <body>
    <!-- Contenedor principal del footer -->
    <div class="container" >

      <!-- Pie de página con diseño flexible y estilos -->
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="background-color: #fafefd; margin-top: 0 !important;">

        <!-- Sección del copyright y logo -->
        <div class="col-md-4 d-flex align-items-center" style="margin-left: 2rem">

          <!-- Texto de copyright con el nombre del creador -->
          <span class="mb-3 mb-md-0 text-body-secondary">
            &copy; 2025 MyReads. Axel Álvarez Santos
          </span>

        </div>

      </footer>

    </div>

  </body>
</html>