<!--
    Autor: Axel Álvarez Santos
    Fecha: 15/02/2024
    Tarea: AD05 Tarea Evaluativa 01
-->

<!DOCTYPE html>
<!-- Importación de thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Importación de Bootstrap desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <!-- Archivo CSS personalizado -->
    <link rel="stylesheet" href="/styles.css">
    <title>Categories - MyReads</title>
</head>

<body>
    <!-- Inclusión del fragmento del encabezado -->
    <div th:replace="fragments/header :: header"></div>

    <!-- Contenido principal de la página -->
    <div class="page-content">

        <!-- Título de la página de categorías -->
        <h1>Categories</h1>

        <!-- Enlace para agregar una nueva categoría -->
        <a th:href="@{/categories/new}" type="button" class="btn btn-outline-success">+ Category</a>

        <!-- Iteración sobre cada categoría para mostrar sus libros -->
        <div th:each="category : ${categories}" style="margin: 4rem 0 8rem 0">

            <!-- Nombre de la categoría -->
            <h2 th:text="${category.name}" style="text-decoration: underline"></h2>

            <!-- Tabla para mostrar los libros de la categoría -->
            <table class="table" style="margin-top: 1rem">
                <tr style="height: 60px">
                    <!-- Encabezados de la tabla con los atributos de los libros -->
                    <th scope="col" style="width: 19%;">TITLE</th>
                    <th scope="col" style="width: 16%;">AUTHOR</th>
                    <th scope="col" style="width: 13%;">CATEGORY</th>
                    <th scope="col" style="width: 13%;">RATING</th>
                    <th scope="col" style="width: 13%;">STATUS</th>
                    <th scope="col" style="width: 13%;">READ DATE</th>
                    <th scope="col" style="width: 13%">ACTIONS</th>
                </tr>

                <!-- Iteración sobre los libros de la categoría -->
                <tr th:each="book : ${category.getBooks()}">

                    <!-- Títulos de los libros -->
                    <td th:text="${book.title}"></td>

                    <!-- Autores de los libros -->
                    <td th:text="${book.author}"></td>

                    <!-- Categoría de cada libro -->
                    <td th:text="${book.category.name}"></td>

                    <!-- Valoración del libro (estrellas) -->
                    <td>
                        <span th:each="i : ${#numbers.sequence(1, 5)}">
                            <span th:text="${i <= book.rating ? '⭐' : '☆'}"></span>
                        </span>
                    </td>

                    <!-- Estado del libro, con un cambio de clase según el estado -->
                    <td>
                        <p th:class="'badge ' +
                                   ${book.status.name() == 'TOREAD' ? 'bg-primary-subtle text-primary-emphasis rounded-pill' :
                                   (book.status.name() == 'READ' ? 'bg-success-subtle text-success-emphasis rounded-pill' :
                                   (book.status.name() == 'CURRENTLY' ? 'bg-warning-subtle text-warning-emphasis rounded-pill' : ''))}"
                           class="rounded-pill"
                           style="margin-top: 0.8rem !important;"
                           th:text="${book.status.name()}">
                        </p>
                    </td>

                    <!-- Fecha de lectura del libro -->
                    <td th:text="${book.readDate}"></td>

                    <!-- Botones de acción para editar y eliminar un libro -->
                    <td>
                        <a th:href="@{/books/edit/{id}(id=${book.id})}" type="button" class="btn btn-outline-info">Edit</a>

                        <!-- Button para abrir el modal de eliminación de un libro-->
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#BookModal"
                                th:data-id="${book.id}" th:data-title="${book.title}">
                            Delete
                        </button>
                    </td>
                </tr>

                <!-- Fila que muestra el número total de libros en la categoría -->
                <tr style="min-height: 80px">
                    <td style="font-weight: bold" colspan="7"
                        th:text="'Total books: ' + (${category} != null ? ${category.getBooks().size()} : 0)"></td>
                </tr>
            </table>

            <!-- Enlaces para editar o eliminar la categoría -->
            <div style="display: flex; justify-content: space-between; margin-bottom: 2rem; max-width: 300px">
                <a th:href="@{/categories/edit/{id}(id=${category.id})}" type="button" class="btn btn-outline-info">Edit Category</a>
                <!-- Botón para abrir el modal de eliminación -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#CategoryModal"
                        th:data-categoryId="${category.id}" th:data-categoryName="${category.name}"
                        th:data-booksCount="${category.books.size()}">
                    Delete Category
                </button>
            </div>

        </div>
    </div>

    <!-- Modal de confirmación para eliminar un libro -->
    <div class="modal fade" id="BookModal" tabindex="-1" aria-labelledby="BookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteBookModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de eliminar el libro
                    <span style="font-weight: bold">
                        "<span id="bookTitle"></span>"
                    </span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <!-- Botón para eliminar el libro -->
                    <button id="deleteBookBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmación para eliminar una categoría y sus libros -->
    <div class="modal fade" id="CategoryModal" tabindex="-1" aria-labelledby="CategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCategoryModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de eliminar la categoría
                    <span style="font-weight: bold">
                        "<span id="categoryName"></span>"
                    </span> y todos sus libros?
                    <span style="font-weight: lighter; font-style: italic" id="bookCount"></span>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <!-- Botón para eliminar la categoría -->
                    <button id="deleteCategoryBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Inclusión del pie de página -->
    <div th:replace="fragments/footer :: footer"></div>

    <script>
        // Manejo del botón de eliminación de un libro
        document.addEventListener("DOMContentLoaded", function () {
            const deleteBookButtons = document.querySelectorAll('[data-bs-target="#BookModal"]');
            deleteBookButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const bookId = this.getAttribute("data-id");
                    const bookTitle = this.getAttribute("data-title");
                    document.getElementById("bookTitle").textContent = bookTitle;
                    document.getElementById("deleteBookBtn").onclick = function () {
                        window.location.href = "/categories/delete/book/" + bookId;
                    };
                });
            });
        });
    </script>

    <script>
        // Manejo del botón de eliminación de una categoría
        document.addEventListener("DOMContentLoaded", function () {
            const deleteCategoryButtons = document.querySelectorAll('[data-bs-target="#CategoryModal"]');
            deleteCategoryButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const categoryId = this.getAttribute("data-categoryId");
                    const categoryName = this.getAttribute("data-categoryName");
                    const booksCount = this.getAttribute("data-booksCount")
                    document.getElementById("categoryName").textContent = categoryName;
                    document.getElementById("bookCount").textContent = 'Total de libros a eliminar: ' + booksCount;
                    document.getElementById("deleteCategoryBtn").onclick = function () {
                        window.location.href = "/categories/delete/" + categoryId;
                    };
                });
            });
        });
    </script>

    <!-- Importación del script de Bootstrap para funcionalidad de componentes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
</body>
</html>